@charset "utf-8";
/* CSS Document */
img{border-bottom: double #D51C1C;border-top: solid 3px}
h1,h2{text-align: center;text-decoration: inherit}
.p2{color: greenyellow;text-transform: capitalize}
#p3{background-color: coral;text-align: center;border: solid #A8046A}

